@import "variable.scss";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(235, 235, 235);
}

.avatar {
    height: 40px;
    aspect-ratio: 1 / 1;
}

.post-form {
    box-shadow: 3px 3px 5px rgb(180, 180, 180);
}

#post_description {
    height: 200px;
}

.header-user {
    width: 100%;
}

#post_tags fieldset button {
    width: 37px;
    height: 37px;
    align-self: end;
    margin-block-end: 17px;
    background-image: url("../images/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#post_tags button {
    width: 30px;
    height: 30px;
    align-self: end;
    border-radius: 50%;
    margin-block-end: 17px;
    background-image: url("../images/add.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#post_tags {
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}

#post_tags fieldset {
   min-width: 110px;
   max-width: 110px;
}