@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$primary: #01C6BC;
$dark-primary: #1C3C84;
$light: #F5F6F7;
$text-color: #04080f;
$text-size: 1.05rem;
$line-height:40px;
$font-family: 'Open Sans', sans-serif;