{% extends 'base.html.twig' %}

{% block title %}Post index
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('feed') }}
{% endblock %}

{% block body %}

	<div class="container my-5">		
		<div class="row g-3">
        <h1 class="text-center my-5">Vos idées</h1>
		<h2 class="text-left fs-6 col-6 offset-3 ">Une réalisation, une même passion</h2>
			{% for post in posts %}
				{% include "components/_card.html.twig" %}

			{% else %}
				no records found

			{% endfor %}
		</div>
	</div>
{% endblock %}
