<nav class="navbar navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img src="{{ asset('build/images/logo.png') }}" alt="manomano-logo" class="logo">
		</a>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<div class="nav-item dropdown">
				<button type="button" class="btn btn-light dropdown-toggle d-flex align-items-center p-2 rounded-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<div class="d-flex flex-column align-items-start">
						<p class="m-0">Bonjour Nathan76</p>
						<p class="m-0 fw-bold">Mon compte</p>
					</div>
				</button>
				<div class="dropdown-menu dropdown-menu-end p-2" aria-labelledby="navbarDropdown">
					<a class="dropdown-item rounded-3" href="">
						<p class="p-2 m-0">Accéder à mon compte</p>
					</a>
				</div>
			</div>
		{% else %}
			<div class="nav-item dropdown">
				<button type="button" class="btn btn-light dropdown-toggle d-flex align-items-center p-2 rounded-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<div class="d-flex flex-column align-items-start">
						<p class="m-0">Bonjour</p>
						<p class="m-0 fw-bold">Identifiez-vous</p>
					</div>
				</button>
				<div class="dropdown-menu dropdown-menu-end p-2" aria-labelledby="navbarDropdown">
					<a class="dropdown-item rounded-3" href="">
						<p class="p-2 m-0">Je suis un particulier</p>
					</a>
					<a class="dropdown-item rounded-3" href="">
						<p class="p-2 m-0">Je suis un pro</p>
					</a>
				</div>
			</div>
		{% endif %}

	</div>
</nav>
